@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
    scroll-behavior: smooth;
    /*Para rolagem suave da tela*/
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: flex;

}

a {
    text-decoration: none;
}

body {
    height: 300vh;
    /* Para permitir rolagem */
    margin: 0;
    background-color: #fff;
    /* Gradiente inicial */
    background-size: 300% 300%;
    /* Aumenta o tamanho do gradiente para suavizar a animação */
    /* animation: gradientAnimation 10s ease infinite; */
    /* Animação contínua */
    font-family: "Lora", serif;
}

p,
h1,
h2,
i,
a {
    color: #101010;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* 
nav {
    margin: 0;
    width: 100%;

    border-radius: 100px;
    /* padding: 1rem; */
/*  display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    overflow: hidden;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: absolute;
    /* Torna a navbar fixa no topo */
/* top: 0;
    /* Fixa no topo da página */
/*  left: 0;
    /* right: 0; */
/* z-index: 1000; */
/* Garante que a navbar fique sobre o conteúdo */
/* background: linear-gradient(120deg, #111000, #1c2a3d00, #201d01); */

/* }  */

nav a {

    font-size: 30px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    /*padding: 1rem;*/
}

.nav-logo {
    max-width: 100px;
    position: left;
    /* position: relative;
    display: flex;
    justify-content: center;
    align-items: center; */


}

ul.nav-links {
    background-color: #ffffff;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    gap: 2rem;

}

.link {
    max-width: 100%;
}

li.link a {
    position: relative;
    overflow: hidden;
    padding: 0.6rem;
    font-size: 0.8rem;
    font-weight: 800;

    /* background: linear-gradient(120deg, rgba(0, 0, 0, 1), rgb(56, 56, 1)); */
    color: #fff;
    /* background-color: #b6d81d; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    /* right: 0 */
    background-color: #b6d81d;
    transition: all 0.3s ease;
}

.link a:hover {
    color: #728a09;
}

.link a:hover::after {
    width: 70%;
}



.link a.nav-no-hover:hover {
    color: #ccc;
    /* background-color: transparent; */
    cursor: default;
}


.btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #ccd81d;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Container principal do flyer */
.flyer-container {
    flex: 1;
    background-color: #ffffffd5;
    display: contents;
    /* contents, para esconder o elemento pai, cuidar dos filhos diretamente*/
    align-items: center;
    justify-content: center;
    text-align: center;

}

.flyer-title p {
    color: #000000;
}

header.flyer-title h2 {

    color: #000000;
}

header.flyer-title h1 {
    color: rgb(255, 238, 1);
    font-family: "Cormorant Garamond", serif;
    font-size: 4rem;
    font-weight: 800;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
        0 0 20px rgba(255, 255, 255, 0.6),
        0 0 30px rgba(255, 255, 255, 0.4),
        0 0 40px rgba(255, 255, 0, 0.37),
        0 0 70px rgba(255, 255, 0, 0.2);
    /* animation: glowing 10s infinite; */
    margin: 0;
}

.flyer-title {
    padding: 1vh;
    padding-top: 100px;
}

.blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #101010;
}


@keyframes glowing {
    0% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
            0 0 10px rgba(255, 255, 255, 0.4),
            0 0 20px rgba(255, 0, 255, 0.3);
    }

    50% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.8),
            0 0 30px rgba(255, 255, 255, 0.7),
            0 0 40px rgba(255, 255, 0, 0.6);
    }

    100% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
            0 0 10px rgba(255, 255, 255, 0.4),
            0 0 20px rgba(255, 255, 0, 0.3);
    }
}


section.card {
    max-width: 100%;
    margin: auto;
    font-family: "Lora", serif;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.7rem;
    border-radius: 5px;
    gap: 2rem;
}


.orc-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.orc-container img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.lista-icones {
    list-style-type: none;
    /* Remove os marcadores padrão */
    padding: 0;
    /* Remove o padding padrão */
    margin: 0;
    /* Remove a margem padrão */
    color: #ccc;
    font-size: 10px;
}

.lista-icones li {
    display: flex;
    /* Usar flexbox para alinhar ícones e texto */
    align-items: center;
    /* Centraliza verticalmente os itens */
    justify-content: flex-start;
    /* Alinha os itens à esquerda */
    margin-bottom: 10px;
    /* Espaçamento entre os itens */
}

.lista-icones i {
    margin-right: 8px;
    /* Espaçamento entre o ícone e o texto */
    font-weight: 1000;
    color: rgb(8, 150, 8);
    /* Cor do ícone, ajuste conforme necessário */
    flex-shrink: 0;
    /* Impede que o ícone encolha */
}

.lista-icones span {
    color: black;
    flex: 1;
    /* Permite que o texto ocupe o espaço restante */
    text-align: left;
    /* Alinha o texto à esquerda */
}

section#produtos {
    margin-top: 0.8rem;
    background-color: transparent;
}

.card1 ul.list {

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    /* margin-bottom: 20px; */
}

.card1 ul.list li {

    padding: 10px 0;
    border-bottom: 1px inset #bea01d42;
    border-top: 1px inset #bea01d42;
}

ul.list p {
    color: #080808;
    font-weight: 600;
    font-style: italic;
    font-size: 0.8rem;
}


hr.horizontal-line {
    border: none;
    /* Remove a borda padrão */
    border-top: 2px solid #cccccc0a;
    /* Define a espessura e a cor da linha */
    width: 100%;
    /* Faz com que a linha ocupe 100% da largura */
    margin: 0;
    /* Remove qualquer espaçamento automático */
    margin-top: 1rem;
}

.produto-title {
    width: 90%;
    /* background: linear-gradient(to right, #110e00, #000000); */
    /* Gradiente de amarelo escuro */
    /* box-shadow: 0 0 1px rgba(226, 12, 12, 0.8),
        0 0 10px rgba(255, 255, 255, 0.6),
        0 0 0px rgba(21, 21, 21, 0.4),
        0 0 0px rgb(0, 0, 0),
        0 0 10px rgba(27, 27, 26, 0.412); */
    padding: 0.8rem;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* height: 100vh; Define a altura para ocupar toda a tela */
    box-sizing: border-box;
    /* Garante que o padding seja incluído no tamanho total */
    user-select: none;
}

.produto-title h2 {
    font-size: 1.7rem;
    font-family: "Lora", serif;
    font-weight: 700;
    font-weight: 700;
    color: black;

    /* animation: glowing 10s infinite; */
    margin: 0;
}

.produto-title p {
    font-size: 1rem;
    color: #000000;

}


.carrossel {
    display: flex;
    flex-wrap: nowrap;
    /* Impede que os cartões se movam para baixo */
    gap: 10px;
    /* Espaçamento entre os cartões */
    justify-content: flex-start;
    scroll-behavior: smooth;
    /* Alinha os cartões à esquerda */
    /* overflow-x: hidden; */
    overflow-y: hidden;
    /* Permite rolar horizontalmente apenas se necessário */
    scroll-snap-type: x mandatory;
    /* Para um efeito de rolagem suave */
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    /* Espaçamento em volta do carrossel */

}


.cartao {
    display: flex;
    flex-direction: column;
    /* Organiza o conteúdo em uma coluna */
    justify-content: space-between;
    /* Garante que o conteúdo fique bem distribuído */
    scroll-snap-align: center;
    /* Alinha o cartão ao centro ao parar a rolagem */

    color: rgb(0, 0, 0);
    padding: 20px;
    /* Adicione mais espaço interno se necessário */
    margin: 0 10px;
    /* Reduz o espaçamento lateral dos cartões */
    background: linear-gradient(120deg, #f1e900, #fbff0000, #eeda00);
    border-radius: 10px;
    min-width: 160px;
    /* Largura mínima dos cartões (ajustado para mobile) */
    min-height: 260px;
    /* Altura mínima dos cartões (ajustado para mobile) */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8),
        0 0 1px rgba(255, 255, 255, 0.4),
        0 0 1px rgba(255, 255, 255, 0.6),
        0 0 1px rgba(255, 255, 0, 0.37),
        0 0 1px rgba(255, 255, 0, 0.2);
    user-select: none;
    /* Impede a seleção de texto */
    transition: transform 0.2s;
    /* Suaviza a interação ao tocar */
}


.cartao h3,
.cartao p {
    font-size: 1rem;
    font-weight: 1000;
    /*text-shadow: 0 1px rgb(199, 22, 22),
        0 0 10px rgba(255, 255, 255, 0.6),
        0 0 20px rgba(255, 255, 255, 0.4),
        0 0 30px rgba(50, 252, 0, 0.37),
        0 0 40px rgba(33, 228, 15, 0.2);*/
}


.carrossel .cartao:nth-child(4) p,
.carrossel .cartao:nth-child(5) p {
    font-size: 1rem;
}



.cartao:hover {
    transform: scale(1.05);
    /* Aumenta o cartão ao passar o mouse, se aplicável */
}

.cartao .lista-icones span {
    text-align: center;
    font-weight: 700;
    padding-top: 10px;
    font-size: 0.8rem;

}


.cartao a {
    color: rgb(87, 87, 52);
    font-size: 0.9rem;
    text-align: center;
    justify-content: center;
    text-decoration: underline;

}

.footer {
    width: 100%;

    background-color: #000000;
    /* display: contents; */
    color: white;
    text-align: center;
    padding: 10px 0;
}

.footer {
    /* background-color: red; */
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 colunas iguais */
    grid-auto-rows: auto;
    /* As linhas se ajustam automaticamente ao conteúdo */
    max-width: 100%;
    position: relative;
    display: none;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    height: 300px;
    gap: 10px;
    row-gap: 2rem;
    background-color: transparent;
    padding: 0;
    margin: 0 auto;

}

.footer::before {
    content: '';
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: #1c1b1b;
    height: 150px;
}

.footer::after {
    content: '';
    position: absolute;
    top: 70%;
    left: 10%;
    width: 80%;
    height: 1px;
    background-color: #1c1b1b;
    transform: translateY(-50%);
}


.about-footer,
.contact-footer,
.adress-footer {
    overflow-wrap: break-word;
    word-wrap: break-word;
    background-color: transparent;
    border-radius: 10px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    /* Alinhar verticalmente */
    justify-content: center;
    /* Alinhar horizontalmente */
    height: 100%;
    /* Ocupa toda a altura da linha */
}

.about-footer {
    grid-column: 1;
    grid-row: 1;
}

.contact-footer {
    grid-column: 2;
}

.adress-footer {
    grid-column: span 2;
    background-color: red;
}




.floating-button {
    position: fixed;
    /* Mantém o botão fixo na posição */
    bottom: 20px;
    /* Define a distância do botão em relação à parte inferior da tela */
    right: 20px;
    /* Define a distância do botão em relação ao lado direito da tela */
    background-color: #25d366;
    /* Cor de fundo do botão (verde WhatsApp, por exemplo) */
    width: 50px;
    /* Largura do botão */
    height: 50px;
    /* Altura do botão */
    border-radius: 50%;
    /* Deixa o botão redondo */
    display: flex;
    /* Alinha o ícone no centro do botão */
    justify-content: center;
    /* Alinha o conteúdo horizontalmente */
    align-items: center;
    /* Alinha o conteúdo verticalmente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Adiciona uma leve sombra para destaque */
    z-index: 1000;
    /* Garante que o botão fique sobreposto a outros elementos */
}

.floating-button a {
    text-decoration: none;
    /* Remove a decoração do link */
    color: white;
    /* Cor do ícone */
    font-size: 30px;
    /* Tamanho do ícone */
}

.floating-button:hover {
    background-color: #128C7E;
    /* Altera a cor de fundo no hover para um tom mais escuro */
}



@media (max-width: 700px) {



    nav {
        position: fixed;
        min-width: 100%;
        ;
        /* background: linear-gradient(120deg, #f1e900, #fbff0000, #eeda00); */
        /* flex-direction: column; */
        /* Muda a direção do nav para coluna */
        align-items: center;
        justify-content: center;
        /* Alinha os itens ao centro */
        background: transparent;
    }



    .nav-links {
        gap: 1rem;
    }

    .link a {
        background: linear-gradient(120deg, rgba(0, 0, 0, 1), rgb(56, 56, 1));
    }



    li.link a::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 0;
        bottom: 0;
        left: 0;
        /* right: 0 */
        background-color: transparent;
        transition: all 0.3s ease;
    }

    .link a.active {
        background: linear-gradient(120deg, rgba(0, 0, 0, 1), rgb(145, 145, 2));
        /* background-color: #7ca803; */
        /* color: #fff; */
    }

    .link a.top-active {
        background: linear-gradient(120deg, rgba(0, 0, 0, 1), rgb(56, 56, 1));

    }

    .nav-logo {
        display: none;
    }

    .btn {
        display: none;
        /* Esconde botões em telas menores */
    }


}