@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
    scroll-behavior: smooth;
    /*Para rolagem suave da tela*/
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: flex;

}

a {
    text-decoration: none;
}

body {
    height: 300vh;
    /* Para permitir rolagem */
    margin: 0;
    background: linear-gradient(120deg, rgba(0, 0, 0, 1), rgb(56, 56, 1));
    /* Gradiente inicial */
    background-size: 300% 300%;
    /* Aumenta o tamanho do gradiente para suavizar a animação */
    animation: gradientAnimation 10s ease infinite;
    /* Animação contínua */
    font-family: "Lora", serif;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

nav {

    width: 100%;
    margin-top: 10px;
    border-radius: 100px;
    /* padding: 1rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    overflow: hidden;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: block;
    /* Torna a navbar fixa no topo */
    top: 0;
    /* Fixa no topo da página */
    left: 0;
    right: 0;
    z-index: 1000;
    /* Garante que a navbar fique sobre o conteúdo */
    background: linear-gradient(120deg, #111000, #1c2a3d00, #201d01);

}

nav a {

    font-size: 30px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    padding: 1rem;
}


.blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #d8bc1d;
}

.nav-logo {
    max-width: 100px;
    position: left;
    /* position: relative;
    display: flex;
    justify-content: center;
    align-items: center; */


}

ul.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 2rem;

}

.link {
    max-width: 400px;
}

li.link a {
    position: relative;
    overflow: hidden;
    padding: 0.6rem;
    font-size: 0.8rem;
    font-weight: 800;

    /* background: linear-gradient(120deg, rgba(0, 0, 0, 1), rgb(56, 56, 1)); */
    color: #fff;
    /* background-color: #b6d81d; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    /* right: 0 */
    background-color: #b6d81d;
    transition: all 0.3s ease;
}

.link a:hover {
    color: #728a09;
}

.link a:hover::after {
    width: 70%;
}



.link a.nav-no-hover:hover {
    color: #ccc;
    /* background-color: transparent; */
    cursor: default;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #ccd81d;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Container principal do flyer */
.flyer-container {
    background-color: #222;
    display: contents;
    align-items: center;
    justify-content: center;
    padding-bottom: 0px;
    margin-bottom: 0;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(218, 5, 5, 0.5);
}

.flyer-title {
    padding: 1vh;
    font-family: "Cormorant Garamond", serif;
}

.flyer-title#home h2 {
    margin-bottom: 0;
    color: #ccc;
}

.flyer-title#home h1 {
    color: rgb(160, 156, 106);
    font-size: 4rem;
    font-weight: 800;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
        0 0 20px rgba(255, 255, 255, 0.6),
        0 0 30px rgba(255, 255, 255, 0.4),
        0 0 40px rgba(255, 255, 0, 0.3),
        0 0 70px rgba(255, 255, 0, 0.2);
    animation: glowing 10s infinite;
    margin: 0;
}

@keyframes glowing {
    0% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
            0 0 10px rgba(255, 255, 255, 0.4),
            0 0 20px rgba(255, 255, 0, 0.3);
    }

    50% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.8),
            0 0 30px rgba(255, 255, 255, 0.7),
            0 0 40px rgba(255, 255, 0, 0.6);
    }

    100% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
            0 0 10px rgba(255, 255, 255, 0.4),
            0 0 20px rgba(255, 255, 0, 0.3);
    }
}


section.card {
    max-width: 100%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.7rem;
    border-radius: 5px;
    gap: 2rem;
}

section#produtos {
    margin-top: 0.8rem;
    background-color: transparent;
}

.card1 {
    display: flex;
    align-items: flex-start;
    width: 100%;
    background: linear-gradient(120deg, rgba(0, 0, 0, 0.048), rgb(122, 122, 72));
    box-shadow: 1px 4px 10px 1px #444000;
    border-radius: 10px;

}

ul.list {

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 20px;
}

ul.list li {

    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

ul.list p {
    color: #ccc;
    font-weight: 600;
    font-style: italic;
    font-size: 0.8rem;
}

ul.list li:nth-of-type(1) p:nth-of-type(1) {
    color: black;
}

.linha-horizontal {
    border: none;
    /* Remove a borda padrão */
    border-top: 2px solid #cccccc1c;
    /* Define a espessura e a cor da linha */
    width: 100%;
    /* Faz com que a linha ocupe 100% da largura */
    margin: 0;
    /* Remove qualquer espaçamento automático */
    margin-top: 10px;


}

.card2 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card2 img {
    width: 300px;
    border-radius: 10px;
    align-self: center;
}

.produto-title {
    width: 90%;
    background: linear-gradient(to right, #110e00, #271e01);
    /* Gradiente de amarelo escuro */
    box-shadow: 1px 4px 10px 1px #444000;
    padding: 0.8rem;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* height: 100vh; Define a altura para ocupar toda a tela */
    box-sizing: border-box;
    /* Garante que o padding seja incluído no tamanho total */
    margin-top: 60px;
}

.produto-title h2 {
    font-size: 30px;
    color: #f0ec06;
    font-weight: 700;
}

.produto-title p {
    font-size: 1rem;
    color: #ddd;

}




/* Cabeçalho com redes sociais */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.social-icon {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Efeitos de hover para os ícones sociais */
.social-icon.instagram:hover {
    background-color: #e4405f;
}

.social-icon.facebook:hover {
    background-color: #1877f2;
}

.social-icon.whatsapp:hover {
    background-color: #1ca74a;
}

/* Estilo para o título e slogan */
.flyer-title h1 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #f3f3f3;
    font-weight: 700;
}

.flyer-title p {
    font-size: 20px;
    color: #ddd;
    margin-bottom: 30px;
}


@media (max-width: 700px) {

    /* Ajuste de espaçamentos em telas menores */
    body {
        padding: 0 1rem;
        /* Adiciona um padding nas laterais */
    }

    nav {
        position: fixed;
        /* background: linear-gradient(120deg, #f1e900, #fbff0000, #eeda00); */
        /* flex-direction: column; */
        /* Muda a direção do nav para coluna */
        align-items: center;
        /* Alinha os itens ao centro */
        background: transparent;
    }

    .flyer-title {
        padding-top: 5rem;
    }


    .nav-links {
        gap: 1rem;
    }

    .link a {
        background: linear-gradient(120deg, rgba(0, 0, 0, 1), rgb(56, 56, 1));
    }

    /* .link a {
        font-size: 0.8rem;
        color: #d4d2b2;
        font-weight: 600;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
        /* background: linear-gradient(120deg, rgba(0, 0, 0, 1), rgb(56, 56, 1)); */
    /* Gradiente inicial 
        padding: 0.3rem;
        border-radius: 20px;
        border-top-left-radius: 0px;

    } */

    li.link a::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 0;
        bottom: 0;
        left: 0;
        /* right: 0 */
        background-color: transparent;
        transition: all 0.3s ease;
    }

    .link a.active {
        background: linear-gradient(120deg, rgba(0, 0, 0, 1), rgb(145, 145, 2));
        /* background-color: #7ca803; */
        /* color: #fff; */
    }

    .link a.top-active {
        background: linear-gradient(120deg, rgba(0, 0, 0, 1), rgb(56, 56, 1));

    }

    .nav-logo {
        display: none;
    }

    .btn {
        display: none;
        /* Esconde botões em telas menores */
    }


}